<h2 class="page-title">Manage Diseases</h2>

<!-- ADD / EDIT FORM -->
<div class="card form-card">
  <h3>{{ diseaseId ? 'Edit Disease' : 'Add Disease' }}</h3>

  <div class="form-grid">
    <div class="form-group">
      <label>Disease Name</label>
      <input type="text" placeholder="Enter disease name" [(ngModel)]="diseaseName" />
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea rows="3" placeholder="Short description" [(ngModel)]="description">
      </textarea>
    </div>
  </div>

  <div class="toggle-row">
  <label class="toggle-switch">
    <input type="checkbox" [(ngModel)]="isActive" />
    <span class="slider"></span>
  </label>
  <span class="toggle-label">Active</span>
</div>



  <div class="form-actions">
    <button class="primary" (click)="saveDisease()" [disabled]="!diseaseName || !description">
      {{ diseaseId ? 'Update Disease' : 'Add Disease' }}
    </button>

    <button *ngIf="diseaseId" class="secondary" (click)="resetForm()">
      Cancel
    </button>
  </div>
</div>

<!-- SEARCH -->
<div class="toolbar">
  <input type="text" placeholder="Search disease..." [(ngModel)]="keyword" (input)="onSearch()" />
</div>

<!-- TABLE -->
<table class="admin-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th width="180">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let d of diseases">
      <td>{{ d.diseaseName }}</td>
      <td>{{ d.description }}</td>
      <td>
        <span [class.active]="d.isActive" [class.inactive]="!d.isActive">
          {{ d.isActive ? 'Active' : 'Inactive' }}
        </span>
      </td>
      <td class="actions">
        <button (click)="editDisease(d)">Edit</button>
        <button class="danger" (click)="deleteDisease(d.diseaseId)">
          Delete
        </button>
      </td>
    </tr>

    <tr *ngIf="diseases.length === 0">
      <td colspan="4" class="empty">No diseases found.</td>
    </tr>
  </tbody>
</table>

<!-- PAGINATION -->
<div class="pagination">
  <button (click)="prev()" [disabled]="page === 0">Prev</button>
  <span>Page {{ page + 1 }} of {{ totalPages }}</span>
  <button (click)="next()" [disabled]="page >= totalPages - 1">
    Next
  </button>
</div>