.page-title {
  color: var(--primary);
}

.page-subtitle {
  text-align: center;
  font-weight: 1000;
}

.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 8px;
}

@keyframes shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}


.search-bar {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.search-bar input {
  flex: 1;
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #0d2c52;
}

.search-bar button {
  padding: 0.6rem 1rem;
  border-radius: 6px;
  background-color: #2bd56c;
}


.search-bar button:hover {
  background: #00a740;
}

.disease-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.2rem;
  margin-top: 1.5rem;
}

.disease-card {
  background: var(--bg-card);
  border-radius: 14px;
  padding: 1rem 1.1rem;
  cursor: pointer;
  border-left: 5px solid transparent;
  transition: all 0.25s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
}

.disease-card.selected {
  border-left-color: var(--secondary);
  background: #ecfeff;
  transform: scale(1.02);
}

.disease-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 22px rgba(0,0,0,0.1);
}

/* Disease Name */
.disease-card h4 {
  margin: 0;
  color: var(--primary);
}

/* Description */
.disease-card p {
  margin-top: 0.4rem;
  font-size: 0.9rem;
  color: var(--text-muted);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  margin: 2rem 0;
}

.pagination button {
  padding: 0.35rem 0.8rem;
  border-radius: 8px;
  border: none;
  background: #049a06;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #ffffff;
  font-weight: 600;
  font-size: 17px;
}

.pagination button:hover {
  background: var(--secondary);
  color: rgb(50, 37, 190);
}

.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.pagination span {
  font-weight: 600;
  color: var(--primary);
}


/* Primary CTA */
.primary-btn {
  display: block;
  margin: 1.5rem auto;
  padding: 0.8rem 1.6rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background: rgb(0, 48, 95);
  cursor: pointer;
  transition: background 0.3s ease;
}

.primary-btn:hover:enabled {
  background: #002f6c;
}

