<h3>Existing Rules</h3>

<table class="admin-table">
  <thead>
    <tr>
      <th>Food</th>
      <th>Disease</th>
      <th>Impact</th>
      <th>Explanation</th>
      <th width="160">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let r of rules">
      <td>{{ r.food.foodName }}</td>
      <td>{{ r.disease.diseaseName }}</td>
      <td>
        <span class="badge" [class.limit]="r.impact === 'LIMIT'">
          {{ r.impact }}
        </span>
      </td>
      <td>{{ r.explanation }}</td>

      <td class="actions">
        <button (click)="editRule(r)">Edit</button>
        <button class="danger" (click)="deleteRule(r.ruleId)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
