<nav class="admin-navbar">
  <div class="logo" (click)="goHome()">
    🥗 NutriCare <span>Admin</span>
  </div>

  <div class="nav-links">
    <a routerLink="/admin/audit-logs">Audit Logs</a>
    <a routerLink="/admin/diseases" routerLinkActive="active">Diseases</a>
    <a routerLink="/admin/foods" routerLinkActive="active">Foods</a>
    <a routerLink="/admin/rules" routerLinkActive="active">Rules</a>
  </div>

  <button class="logout-btn" (click)="logout()">Logout</button>
</nav>

<!-- ADMIN PAGES LOAD HERE -->
<div class="admin-content">
  <router-outlet></router-outlet>
</div>
