<h2 class="title">Food Recommendations</h2>

<div *ngIf="recommendations.length === 0" class="empty">
  No recommendations yet
</div>

<div class="cards">
  <div class="card" *ngFor="let r of recommendations"
       [class.limit]="r.impact === 'LIMIT'">

    <div class="card-header">
      <span class="food">{{ r.foodName }}</span>

      <span class="badge"
        [ngClass]="{
          allowed: r.impact === 'ALLOWED',
          limit: r.impact === 'LIMIT',
          avoid: r.impact === 'AVOID',
          safe: r.impact === 'SAFE'
        }">
        {{ r.impact }}
      </span>

      <span *ngIf="r.autoLimited" class="auto-badge">
        Auto-limited
      </span>
    </div>

    <p class="explanation">
      {{ r.explanation }}
    </p>

  </div>
  <button class="back-btn" (click)="goBack()">
  ← Modify Disease Selection
</button>

</div>
