<!-- <div class="container">
  <h2>Login</h2>

  <form (ngSubmit)="login()">
    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
      name="email"
      required
    />

    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
      name="password"
      required
    />

    <button type="submit">Login</button>

    <p class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
  </form>

  <p style="text-align:center; margin-top:10px;">
    New user?
    <a routerLink="/register">Register here</a>
  </p>
</div> -->
<h2>Login</h2>

<form (ngSubmit)="login()">
  <input name="email" [(ngModel)]="email" placeholder="Email" required />
  <input name="password" [(ngModel)]="password" type="password" required />
  <button type="submit">Login</button>
</form>

<p>
  New user?
  <a routerLink="/register">Register here</a>
</p>
